# Игнорирование папки проекта PyCharm
.idea/

# Кеши Python
__pycache__/
*.py[cod]
*$py.class

# Виртуальное окружение
venv/
env/
*.venv
*.env

# Логи и временные файлы
*.log
*.tmp
*.bak
*.swp
*.swo
*.swn

# Файлы зависимостей и окружения
pip-log.txt
pip-delete-this-directory.txt
poetry.lock

# Файлы IDE
*.iml
*.ipr
*.iws

# Jupyter Notebook временные файлы
.ipynb_checkpoints/

# Базы данных
*.sqlite3
*.db

# Кэшированные файлы тестов
.pytest_cache/
nosetests.xml
coverage.xml
htmlcov/

# Сборочные артефакты
build/
dist/
*.egg-info/
.installed.cfg

# Docker и виртуальные машины
.vagrant/
*.vbox
*.vbox-prev
*.vdi
.dockerignore

# Конфигурации среды
.env
.env.local
.env.development
.env.production
.env.test
